<!-- app/views/layouts/_header.html.erb -->
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to root_path, class: 'flex items-center text-white font-semibold text-lg' do %>
      <%= image_tag 'logo.png', alt: 'Logo', class: 'h-8 mr-2' %>
      MyApp
    <% end %>

    <div class="flex items-center">
      <% if logged_in? %>
        <div class="flex items-center mr-4">
          <%= link_to current_user.name, user_path(current_user), class: 'text-white font-semibold mr-2' %>
          <%= link_to 'ログアウト', logout_path, method: :delete, class: 'px-4 py-2 mx-2 rounded-lg bg-red-500 text-white font-semibold' %>
        </div>
        <%= link_to '問題作成', new_quiz_path, class: 'px-4 py-2 mx-2 rounded-lg bg-blue-500 text-white font-semibold' %>
      <% else %>
        <%= link_to 'ログイン', login_path, class: 'px-4 py-2 mx-2 rounded-lg bg-blue-500 text-white font-semibold' %>
        <%= link_to '登録', signup_path, class: 'px-4 py-2 mx-2 rounded-lg bg-green-500 text-white font-semibold' %>
      <% end %>
    </div>
  </div>
</nav>
