<!DOCTYPE html>
<html>
  <head>
    <title>Quiz for engineer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="flash-messages">
      <% flash.each do |type, message| %>
        <div class="bg-gray-100 border-t-4 <% if type == 'notice' %>border-blue-500<% elsif type == 'success' %>border-green-500<% elsif type == 'error' %>border-red-500<% end %> p-4 text-gray-800">
          <p><%= message %></p>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
