<!-- app/views/users/show.html.erb -->
<div class="container mx-auto mt-8">
  <div class="mb-4">
    <h1 class="text-2xl font-semibold">ユーザー詳細</h1>
  </div>

  <div class="bg-white p-4 rounded-lg shadow-md mb-4">
    <h2 class="text-lg font-semibold mb-2">名前: <%= @user.name %></h2>
    <p class="mb-2">獲得ポイント: <%= @user.point %> ポイント</p>
    <% if current_user == @user %>
      <%= link_to "編集", edit_user_path(@user), class: "px-4 py-2 rounded-lg bg-blue-500 text-white font-semibold" %>
    <% end %>
  </div>

  <div class="mb-4">
    <h2 class="text-xl font-semibold mb-2">作成した問題一覧</h2>
    <% if @user.quizzes.empty? %>
      <p>問題がありません。</p>
    <% else %>
      <ul>
        <% @user.quizzes.each do |quiz| %>
          <li class="mb-2">
            <%= link_to quiz.problem_statement, quiz_path(quiz), class: "text-blue-500 font-semibold hover:underline" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="mb-4">
    <%= button_to "退会する", user_path(@user), method: :delete, data: { turbo_confirm: "本当に退会しますか？" }, class: "px-4 py-2 rounded-lg bg-red-500 text-white font-semibold" %>
  </div>
</div>
