<div class="container mt-4">
  <h2 class="text-xl font-semibold mb-4">問題作成</h2>

  <%= form_with model: @quiz, url: quizzes_path, local: true, data: { controller: "quiz-form" } do |f| %>
    <div class="mb-4">
      <%= f.label :problem_statement, "問題文", class: "font-semibold" %>
      <%= f.text_area :problem_statement, class: "rounded-lg p-2 border border-gray-200 bg-white w-full", rows: 4 %>
    </div>

    <div class="mb-4">
      <%= f.label :first_option, "選択肢1", class: "font-semibold" %>
      <div class="flex items-center">
        <%= f.text_field :first_option, class: "rounded-lg p-2 border border-gray-200 bg-white w-full" %>
        <%= radio_button_tag "correct_option", "1", false, class: "ml-2 option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <label for="correct_option_1" class="ml-1">正解</label>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :second_option, "選択肢2", class: "font-semibold" %>
      <div class="flex items-center">
        <%= f.text_field :second_option, class: "rounded-lg p-2 border border-gray-200 bg-white w-full" %>
        <%= radio_button_tag "correct_option", "2", false, class: "ml-2 option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <label for="correct_option_2" class="ml-1">正解</label>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :third_option, "選択肢3", class: "font-semibold" %>
      <div class="flex items-center">
        <%= f.text_field :third_option, class: "rounded-lg p-2 border border-gray-200 bg-white w-full" %>
        <%= radio_button_tag "correct_option", "3", false, class: "ml-2 option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <label for="correct_option_3" class="ml-1">正解</label>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :category_ids, "カテゴリ", class: "font-semibold" %>
      <%= f.collection_select :category_ids, Category.all, :id, :name, { prompt: "カテゴリを選択" }, { class: "rounded-lg p-2 border border-gray-200 bg-white" } %>
    </div>

    <%= f.submit '問題作成', class: 'px-4 py-2 rounded-lg bg-blue-500 text-white font-semibold' %>
  <% end %>
</div>
