<!-- app/views/quizzes/show.html.erb -->
<div class="container mt-4">
  <div class="mb-4">
    <h2 class="text-xl font-semibold">カテゴリ: <%= @quiz.categories.pluck(:name).join(", ") %></h2>
  </div>

  <div class="mb-4">
    <h2 class="text-xl font-semibold">問題文</h2>
    <p><%= @quiz.problem_statement %></p>
  </div>

  <% if current_user == @quiz.user %>
    <div class="mb-4">
      <%= link_to "編集", edit_quiz_path(@quiz), class: "px-4 py-2 rounded-lg bg-blue-500 text-white font-semibold" %>
    </div>
  <% end %>

  <%= form_with(model: @quiz.answers.new, url: quiz_answers_path(@quiz)) do |f| %>
    <div class="mb-4">
      <label>
        <%= radio_button_tag "option", "1", false, class: "option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <%= @quiz.first_option %>
      </label>
    </div>

    <div class="mb-4">
      <label>
        <%= radio_button_tag "option", "2", false, class: "option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <%= @quiz.second_option %>
      </label>
    </div>

    <div class="mb-4">
      <label>
        <%= radio_button_tag "option", "3", false, class: "option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <%= @quiz.third_option %>
      </label>
    </div>

    <%= f.submit "回答", class: "px-4 py-2 rounded-lg bg-blue-500 text-white font-semibold" %>
  <% end %>
</div>
