<div class="container mt-4 flex flex-col items-center">

  <div class="mb-4 text-center">
    <h2 class="text-xl font-semibold">
      作成者: <%= link_to @quiz.user.name, user_path(@quiz.user), class: "text-blue-500 hover:underline" %>
    </h2>
  </div>

  <div class="mb-4">
    <h2 class="text-xl font-semibold">カテゴリ: <%= @quiz.categories.pluck(:name).join(", ") %></h2>
  </div>

  <div class="mb-4">
    <h2 class="text-xl font-semibold">問題文</h2>
    <p class="text-lg"><%= @quiz.problem_statement %></p>
  </div>

  <div class="mb-4 flex">
    <% if current_user == @quiz.user %>
      <%= link_to "編集", edit_quiz_path(@quiz), class: "px-4 py-2 rounded-lg bg-blue-500 text-white font-semibold mr-2" %>
      <%= button_to "削除する", quiz_path(@quiz), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "px-4 py-2 rounded-lg bg-red-500 text-white font-semibold" %>
    <% end %>
  </div>

  <%= form_with(model: @quiz.answers.new, url: quiz_answers_path(@quiz)) do |f| %>
    <div class="mb-4">
      <label class="flex items-center">
        <%= radio_button_tag "answer[option]", "1", false, class: "option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <span class="ml-2 text-lg"><%= @quiz.first_option %></span>
      </label>
    </div>

    <div class="mb-4">
      <label class="flex items-center">
        <%= radio_button_tag "answer[option]", "2", false, class: "option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <span class="ml-2 text-lg"><%= @quiz.second_option %></span>
      </label>
    </div>

    <div class="mb-4">
      <label class="flex items-center">
        <%= radio_button_tag "answer[option]", "3", false, class: "option-radio", data: { controller: "quiz-form-for-show", action: "click->quiz-form-for-show#selectOption" } %>
        <span class="ml-2 text-lg"><%= @quiz.third_option %></span>
      </label>
    </div>

    <%= f.submit "回答", class: "px-4 py-2 rounded-lg bg-blue-500 text-white font-semibold" %>
  <% end %>
</div>
